page-settings {

}
.menu-icon{
  color:orange;
}
.menu-icon1{
  color:blue;
}

.menu-icon3{
  color:#00FF00;
}
.menu-icon4{
  color:#DC143C;
}
.menu-icon5{
  color:orange;
}
.menu-icon6{
  color:#00008B;
}

